#chatbox {
    margin:4px, 4px; 
    padding:4px; 
    width: 100%; 
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:justify; 
    font-size:16px;
    height:100%;
}

#sendform{
    width:100%;
}

#textinput{
    width:80%;
}

#button1{
    width:20%;
    display:inline;
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
}

#button:hover{
    background-color:#dddddd;
}

#name{
    background-color:#bdbdbd;
    width:5%;
    border-radius:10%;
    display:inline;
    margin-left:10px;
}

#header{
    font-size:20px;
}

#box{
    height:80%;
}